python-dotenv
groq
AppOpener
pywhatkit
bs4
selenium
pillow
rich
requests
keyboard
cohere
googlesearch-python
mtranslate
pygame
edge-tts
PyQt5
asyncio
datetime
json5
google-generativeai
opencv-python
numpy
mss
playsound
SpeechRecognition
